.sidebar-container {
    display: flex;
    width: 100%;
}

.main {
    width: 100%;
    /* padding: 20px; */
}

.sidebar {
    background: #fefae0;
    /* color: #fff; */
    height: 100vh;
    /* width: 200px; */
    transition: all 0.5s;
}

.top_section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 29px;
}

.logo {
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.bars {
    display: flex;
    font-size: 25px;
    /* margin-left: 50px; */
    z-index: 10;
}

.link {
    display: flex;
    /* color: #fff; */
    align-items: center;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
}

/* .link:hover {
    background: lightskyblue;
    color: #000;
    transition: all 0.5s;
} */

.active {
    /* background: lightskyblue; */
    color: #FF7594;
}

.icon {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.link_text {
    font-size: 20px;
}